<div class="main">
    <header class="header">
        <h1 class="title">BOSS KHING <span><mat-icon class="icon"> fastfood</mat-icon></span></h1>
        <div class="menu">

        </div>
    </header>
    <section class="motto">
        <p>“Our food will make you feel better than all the meds in the world”</p>
    </section>
    <article class="items">
        <img src="assets/chili_garlic.jpg" alt="">
        <img src="assets/siomai_bilao.jpg" alt="">
        <img src="assets/siomai_zoom.jpg" alt="">
        <img src="assets/siomai.jpg" alt="">
    </article>
    <aside class="description">
        <ol>
            <li>
                <mat-icon class="check">check</mat-icon><span>All Ingredients are fresh from the market.</span>
            </li>
            <li>
                <mat-icon class="check">check</mat-icon> <span>Always newly cooked when deliver.</span> 
            </li>
            <li>
                <mat-icon class="check">check</mat-icon> <span>Uses cooking tools to make sure the exact taste.</span>
            </li>
        </ol>
        <ol>
            <li>
                <mat-icon class="cancel">cancel</mat-icon><span>Preservatives added</span>
            </li>
            <li>
                <mat-icon class="cancel">cancel</mat-icon><span>Using Left over ingredients</span>
            </li>
        </ol>
        <div class="animation">
            !! FOR ONLY 10 PESOS EACH !! ORDER NOW 
        </div>
    </aside>
    <aside class="customers">
        <p class="foodpanda">
           WE ALSO ACCEPT ORDERS VIA FOOD PANDA
        </p>
        <p class="treat">
            “We will treat you like our guest, not our customer.”
        </p>
        <div class="customers-photo">
            <img src="assets/deliver.jpg" alt="">
            <img src="assets/deliver_1.jpg" alt="">
            <img src="assets/deliver_2.jpg" alt="">
            <img src="assets/deliver_3.jpg" alt="">
        </div>

    </aside>
    <footer class="footer">
        <p>Contact us  </p>
        <p><mat-icon> contact_phone</mat-icon> 09225468878</p>
        <p><mat-icon> email</mat-icon> King@test.net</p>
        <div class="test">
            <p class="gg-facebook"></p>
            <span>Khing Gonzales</span>
        </div>
        <span class="iconify" data-icon="simple-icons:foodpanda"></span>
        <img src="assets/logo-foodpanda.png" alt="" class="foodpanda-logo"> &nbsp;<span>Khing Gonzales</span>
    </footer>
</div> 